.table {
  border-collapse: collapse;
  border: 1px solid;
  margin: 4px;
}

.td {
  border: 1px solid;
  padding: 15px;
}

.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.caption {
  margin: 4px;
}

.upper {
  text-transform: uppercase;
}

.tablevalue {
  color: var(--light-accent);
  border-color: var(--font-color)
}

.wronganswer {
  font-weight: bold;
  color: var(--red);
}