.table {
  border-collapse: collapse;
  border: 1px solid;
  margin: 4px;
}

.td {
  border: 1px solid;
  padding: 15px;
}

.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.caption {
  margin: 4px;
  text-decoration: none;
}

.caption:hover {
  text-decoration: line-through;
}

.hidecaption {
  margin: 4px;
  text-decoration: line-through;
  padding-left: 6px;
  padding-right: 6px;
}

.hidecaption:hover {
  text-decoration: none;
}

.upper {
  text-transform: uppercase;
}

.tablevalue {
  color: var(--light-accent);
  border-color: var(--font-color)
}

.wronganswer {
  font-weight: bold;
  color: var(--red);
  border-color: var(--font-color);
}

.hiddentablesbox {
  text-align: center;
  border: 2px solid var(--light-background);
  color: var(--light-font);
  border-radius: 10px;
  padding: 4px;
  margin: 8px;
  width: 100%;
}

.hiddenboxitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}